.contacts-form {
    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 13%;
        margin-bottom: 21px;
    }
    &__opinion {
        grid-column: span 2;
        textarea {
            height: 236px;
        }
    }
    &__btn {
        width: 151px;
        margin: 0 0 0 auto;
    }
    @media (max-width: 992px) {
        &__body {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px 13%;
            margin-bottom: 21px;
        }
        &__opinion {
            grid-column: span 1;
        }
    }
    @media (max-width: 767) {
        &__body {
            gap: 20px;
        }
    }
}

.border-input {
    border: 1px solid black;
}
