
.similar-products {
	width: 100%;
	max-width: 1230px;
	display: flex;
	flex-direction: column;
	gap: 26px;
	min-width: 0;

	&__wrapper {
		margin: 74px 0 0 0;
		width: 100%;
		display: flex;
		justify-content: center;
		height: auto;
		min-width: 0;
	}

	&__top {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__title {
		color: #000;
		font-family: Roboto;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		white-space: nowrap;
	}

	&__nav {
		width: fit-content;
		display: flex;
		flex-direction: row;
		gap: 22px;
	}

	&__nav-button {
		width: 44px;
		height: 44px;
		flex-shrink: 0;
		background: #36dd65;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		&.disabled {
			background: var(----c-dark, #1d1f22);
		}
	}

	&__nav-icon {
		&.prev {
			transform: rotate(180deg);
		}
	}

	&__content {
		width: 1000%;
		max-width: 1230px;
		height: 474px;
		position: relative;
		display: flex;
		min-width: 0;
	}

	&__slider{
		height: 474px;
		width: 100%;
		padding: -150px 0 0 0;
		margin: 0;

	}

	&__slide {
	}

	&__spinner {
	}

	&__whitie {
		position: absolute;
		top: 0;
		z-index: 5;
		right: 0;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) -52.94%, #fff 105.24%);
		width: 306px;
		height: 474px;
	}
}

