.discount-sticker {
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 12px 2px 12px;
	border-radius: 13px;
	background: #23c82f;
	width: fit-content;
	text-decoration-line: line-through;
}

@media(max-width: 600px){
	.discount-sticker {
		color: #fff;
		font-family: Roboto;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2px 7px 1px 8px;
		border-radius: 13px;
		background: #23c82f;
		width: fit-content;
		text-decoration-line: line-through;
	}
	
}
