.favourite-page {
    .favourite {
        &__crumbs {
            margin-top: 20px;
        }
        &__title {
            margin-top: 25px;
            margin-bottom: 27px;
            color: #000;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .card__like-sign {
        margin-left: auto;
    }
}

@media screen and (max-width: 996px) {
    .favourite-page {
        .card__like-sign {
            margin-left: 0;
        }
    }
}
