.basket {
	width: 21px;
	height: 20px;
	fill: #fff;
}

.validated-sign {
	width: 21px;
	height: 20px;
}
.not-validated-sign {
	width: 21px;
	height: 20px;
}

.available-sign {
	width: 20px;
	height: 20px;
}

.ending-sign {
	width: 14px;
	height: 14px;
}

.out-of-stock-sign {
	width: 18px;
	height: 18px;
}

.spinner {
	width: 122px;
	height: 122px;
}

.tel-sign {
	width: 24px;
	height: 24px;
}

.mini-catalog-sign {
	width: 16px;
	height: 16px;
}
.header-search-sign {
	width: 24px;
	height: 24px;
}
.header-heart-sign {
	width: 20.073px;
	height: 18px;
}
.header-basket-sign {
	width: 20.949px;
	height: 19.999px;
}
