.basket {
	width: 21px;
	height: 20px;
	fill: #fff;
}

.validated-sign {
	width: 21px;
	height: 20px;
}
.not-validated-sign {
	width: 21px;
	height: 20px;
}

.available-sign {
	width: 20px;
	height: 20px;
}

.ending-sign {
	width: 14px;
	height: 14px;
}

.out-of-stock-sign {
	width: 18px;
	height: 18px;
}

.spinner {
	width: 122px;
	height: 122px;
}

.tel-sign {
	width: 24px;
	height: 24px;

	fill: #36dd65;
}

.mini-catalog-sign {
	width: 16px;
	height: 16px;
}
.header-search-sign {
	width: 24px;
	height: 24px;
}
.header-heart-sign {
	width: 20.073px;
	height: 18px;
}
.header-basket-sign {
	width: 20.949px;
	height: 19.999px;
}

.home-icon {
	width: 16px;
	height: 15px;
	cursor: pointer;
}

.dropdown-arrow-right {
	width: 4px;
	height: 8px;
}

.arrow-down {
	width: 12px;
	height: 8px;
	fill: black;
	transition: 0.3s;
	&.active {
		transform: rotate(180deg);
	}
}

.filter-menu-burger {
	width: 16px;
	height: 15px;
	fill: #8f8f8f;
	cursor: pointer;
	width: 4px;
	height: 8px;
}

.popup-cross-sign {
	width: 13px;
	height: 13.5px;
	fill: none;
}

.category-row-battery-icon {
	width: 44.436px;
	height: 48px;
	flex-shrink: 0;

	fill: #ffffff;
}
.category-row-hdd-icon {
	width: 60.99px;
	height: 43.383px;
	flex-shrink: 0;

	fill: #ffffff;
}

.category-row-keyboard-icon {
	width: 57.263px;
	height: 27.57px;
	flex-shrink: 0;

	fill: #ffffff;
}

.category-row-ram-icon {
	width: 57.163px;
	height: 35.112px;
	flex-shrink: 0;

	fill: #ffffff;
}

.category-row-power-unit-icon {
	width: 68.599px;
	height: 44.471px;
	flex-shrink: 0;

	fill: #ffffff;
}
.features-lightning-sign {
	fill: #929292;
	width: 10.662px;
	height: 15.984px;
	flex-shrink: 0;
	* {
		fill: #929292;
	}
}
.features-fire-sign {
	width: 24px;
	height: 26px;
	flex-shrink: 0;
	fill: #929292;
}

.features-discount-sign {
	width: 17px;
	height: 17px;
	flex-shrink: 0;
	fill: #929292;
	// use{
	//     fill: #929292;
	// }
}

.features-fav-sign {
	width: 20.789px;
	height: 18.48px;
	fill: #0ACF83;
}
