.catalogue-item {
    max-width: 380px;
    position: relative;
    cursor: pointer;
    &__text {
        position: relative;
        z-index: 2;
        margin: 0px 0 0 25px;
        color: #1d1f22;
        font-size: 22px;
        font-weight: 700;
        line-height: 140%; /* 30.8px */
    }
    &__top {
        background: #f5fcf3;
        height: 210px;
        position: relative;
        width: 100%;
        padding-top: 25px;

        &_img {
        }
    }
    &__img-wr {
        width: 200px;
        height: 200px;
        position: absolute;
        right: 0;
        bottom: 0px;
    }

    &__main {
        &_ul {
            padding: 7px 22px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
        }

        &_li {
            color: #000;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 240%;
            cursor: pointer;
            &:hover {
                background-color: #bbfccd;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .catalogue-item {
        height: 100%;

        &__top {
            height: 100%;

            &_img {
                // width: 139px;
                // height: 143px;
            }
        }
        &__main {
            display: none;
        }
        &__img-wr {
            width: 130px;
            height: 110px;
            position: absolute;
            bottom: 0px;
        }
    }

    .catalogue-item__top_img {
        // display: none;
    }

    .catalogue-item__top_img_mob {
        // display: block;
    }
}
