.filter {
    padding: 25px 27px;
    margin-top: 38px;
    border: 1px solid #dedede;
    background: #fff;
    width: 282px;
    z-index: 3;
    position: relative;
    height: fit-content;

    &_title {
        color: #000;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px; /* 150% */
        letter-spacing: 0.2px;
        margin-bottom: 22px;
    }

    &_items {
        margin-top: 22px;
    }
}
.filter_items {
    .filter_item:last-of-type {
        margin-bottom: 0;
        border: none;
    }
}
.filter_item {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    &__title {
        color: #19191d;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.495px;
    }

    &__descr {
        color: #787885;
        font-size: 16px;
        font-weight: 400;
        line-height: 143%;
        letter-spacing: 0.288px;
        margin-top: -3px;
    }

    &__values {
        margin-top: 13px;
        margin-bottom: 18px;
    }

    &__value {
        color: #313131;
        font-size: 16px;
        font-weight: 400;
        line-height: 240%;
        margin-bottom: 9px;
        display: flex;
        gap: 5px;
        cursor: pointer;
        &.active {
            background-color: #ebffed;
        }

        p {
            color: #717171;
            font-size: 16px;
            font-weight: 400;
            line-height: 240%;
        }
    }
    &__value:last-of-type {
        margin-bottom: 0;
    }
}

// .portal-div-test {
//     z-index: 1;
// }
.portal-div {
}

.substrate {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.7;
    z-index: 2;
    &.active {
        display: block;
    }
}

.top-filter {
    margin-top: 77px;

    &_title {
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        line-height: 108.9%;
        margin-bottom: 11px;
    }

    &_filters {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    &_filters {
    }
}

.filter-menu-burger-wr {
    display: none;
}

.select-container {
    &__title {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /*  */
        letter-spacing: 0.44px;
        margin-top: 11px;
        margin-bottom: 8px;
    }
}

.filter-wr {
    display: grid;
    grid-gap: 34px;
    gap: 34px;
    grid-template-columns: 282px 1fr;
}

.filter-page {
    min-height: 1230px;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}

.top-filter {
    margin-top: 77px;

    &_title {
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        line-height: 108.9%;
        margin-bottom: 11px;
    }

    &_filters {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    &_filters {
    }
    // &__scroll {
    //     overflow: scroll;
    //     max-width: 530px;
    // }
}

.filter-menu-burger-wr {
    display: none;
}

.select-container {
    &__title {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /*  */
        letter-spacing: 0.44px;
        margin-top: 11px;
        margin-bottom: 8px;
    }
}

.top-filter {
}
.top-filters {
}

.top-filter_filters_middle {
    display: flex;
    margin-top: 23px;
    gap: 22px;
}

.top-filters_filters_middle_btn {
    padding: 11px 34px;
    background: #36dd65;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 108.9%;
    cursor: pointer;
    border: 1px solid transparent;
    &.active {
        color: #555;
        border: 1px solid #36dd65;
        background: #fff;
    }
}

.choosen {
    border-radius: 2px;
    border: 1px solid #cacdd8;
    background: #fff;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 210%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    &__cleanup {
        cursor: pointer;
    }
}

.choosen-wr {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.top-filter_filters_middle {
    display: flex;
    margin-top: 23px;
    gap: 22px;
    overflow: scroll;
    max-width: 530px;
}

.top-filters_filters_middle_btn {
    padding: 11px 34px;
    background: #36dd65;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 108.9%;
    cursor: pointer;
    border: 1px solid transparent;
    flex-shrink: 0;
    &.active {
        color: #555;
        border: 1px solid #36dd65;
        background: #fff;
    }
}

@media screen and (max-width: 992px) {
    .top-filter_filters {
        flex-wrap: nowrap;
        overflow: auto;
        max-width: 530px;
    }
}

@media screen and (max-width: 768px) {
    .top-filter {
        margin-top: 10px;
    }
    .filter-wr {
        grid-template-columns: 1fr;
    }
    .filter-menu-burger-wr {
        display: block;

        flex-shrink: 0;
    }
    .filter-menu-burger-wr {
        width: 54px;
        height: 36px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 4px;
        background: #f4f4f4;
        cursor: pointer;
        align-self: center;
    }
    .select-container__title {
        display: none;
    }
    .top-filter_filters {
        margin-bottom: -250px;
        padding-bottom: 250px;
    }
}

@media screen and (max-width: 576px) {
    .top-filter_filters_middle {
        max-width: 350px;
    }
}

@media screen and (max-width: 425px) {
    .top-filter_filters {
        max-width: 290px;
        gap: 14px;
    }
    .top-filter_filters_middle {
        max-width: 290px;
    }
    .card-wr {
        width: 100vw;
    }
    .filter-page {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .filter-wr {
        position: relative;
        min-height: 100vh;
        margin: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-width: 100%;
    }
    .filter_item__values {
        margin-top: 0;
        margin-bottom: 0;
    }

    .filter {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: 0.3s;
        opacity: 0;
        min-height: 50px;
        width: 100%;
        fill: #fff;
        border: none;
        border-radius: 10px 10px 0;
        //
        position: absolute;
        max-height: 500px;
        bottom: -5px;
        pointer-events: none;
        &.active {
            opacity: 1;
            overflow: scroll;
            grid-template-rows: 1fr;
            position: fixed;
            // border-bottom: -1px;
            left: 0;
            pointer-events: all;
        }
        &_title {
            text-align: center;
            margin-bottom: 0;
        }
        &_item {
            padding-bottom: 12px;
            position: relative;
            cursor: pointer;
            &::after {
                pointer-events: none;
                content: '';
                position: absolute;
                transition: 0.3s;
                transform: rotate(90deg);
                right: 10px;
                top: 20px;
                background-image: url('../../../../public/img/arrow-right.svg');
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
            }
            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    transition: 0.3s;
                    transform: rotate(180deg);
                    right: 10px;
                    top: 20px;
                    background-image: url('../../../../public/img/arrow-right.svg');
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                }
            }
        }
        &_item__values {
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            transition: 0.3s;

            ul {
                min-height: 0;
            }

            &.active {
                grid-template-rows: 1fr;
                margin-top: 13px;
                margin-bottom: 0px;
            }
        }
    }
}
