@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.ttf');
    font-display: swap;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./fonts/Roboto-Medium.ttf');
    font-display: swap;
    font-display: swap;
}
// test test2

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./fonts/Roboto-Bold.ttf');
    font-display: swap;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('./fonts/Roboto-Black.ttf');
    font-display: swap;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('./fonts/Poppins-Regular.ttf');
    font-display: swap;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('./fonts/Poppins-SemiBold.ttf');
    font-display: swap;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('./fonts/Roboto-Bold.ttf');
    font-display: swap;
    font-display: swap;
}
