.features {
	display: flex;
	flex-direction: column;
	gap: 27px;
	// align-items: center;
	width: 100%;
	max-width: 1240px;

	position: relative;
	&__wrapper {
		margin: 45px 0 100px 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__nav {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 22px;
		justify-content: center;
	}

	&__nav-item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 7.5px;
		padding: 12px 25px;
		color: #707070;
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 108.9%; /* 19.602px */

		background: transparent;
		border: none;
		border-radius: 27px;
		transition: 0.3s;
		&.active {
			background: #36dd65;
			color: #fff;
			font-family: Roboto;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 108.9%; /* 19.602px */

			.features-lightning-sign {
				fill: #fff;
				* {
					fill: #fff;
				}
			}
			.features-fire-sign {
				fill: #fff;
			}

			.features-discount-sign {
				fill: #fff;
			}
		}
		cursor: pointer;
	}

	&__nav-icon {
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 33px 40px;
		flex-wrap: wrap;
		height: auto;
		max-height: 721px;
		overflow: hidden;
		transition: max-height 0.5s ease-in-out;

		&.show {
			gap: 33px 40px;
			height: auto;
			max-height: 1000px;
			overflow: hidden;
		}
	}

	&__show-hide-block {
		position: absolute;
		top: 420px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0.34%, #fff 52.81%, #fff 55.85%);
		width: 100%;
		max-width: 1240px;
		height: 383px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		padding: 220px 0 0 0;

		transition: 0.2s;
		&.show {
			padding: 20px 0 0 0;
			top: auto;
			bottom: -100px;
			height: 100px;
		}
	}

	&__show-hide-button {
		color: var(----c-white, #fff);
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 19.2px */
		border-radius: 30px;
		background: #28cb56;
		display: flex;
		width: 190px;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:active {
			background: rgba($color: #28cb56, $alpha: 0.7);
		}
	}
}

@media (max-width: 600px) {
	.features {
		display: flex;
		flex-direction: column;
		gap: 5px;
		// align-items: center;
		width: 100%;
		max-width: 1240px;

		position: relative;
		&__wrapper {
			position: relative;
			margin: 25px 0 100px 0;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		&__nav {
			width: 100%;
			display: flex;
			flex-direction: row;
			gap: 5px;
			justify-content: flex-start;

			overflow-x: scroll;

			padding: 0 0 10px 10px;
			white-space: nowrap;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__nav-item {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 7.5px;
			padding: 10px 20px;
			color: #707070;
			font-family: Roboto;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;

			background: transparent;
			border: none;
			border-radius: 27px;
			transition: 0.3s;
			&.active {
				background: #36dd65;
				color: #fff;
				font-family: Roboto;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 108.9%; /* 19.602px */

				.features-lightning-sign {
					fill: #fff;
					* {
						fill: #fff;
					}
				}
				.features-fire-sign {
					fill: #fff;
				}

				.features-discount-sign {
					fill: #fff;
				}
			}
			cursor: pointer;
		}

		&__nav-icon {
		}

		&__content {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 6px 7px;
			flex-wrap: wrap;

			height: 590px;
			overflow: hidden;
			&.show {
				gap: 6px 7px;
				height: auto;
				overflow: hidden;
			}
		}

		&__show-hide-block {
			position: absolute;
			top: 424px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0.34%, #fff 52.81%, #fff 55.85%);

			width: 100%;
			max-width: 1240px;
			height: 250px;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			padding: 124px 0 0 0;
			&.show {
				padding: 10px 0 0 0;
				top: auto;
				bottom: -150px;
				height: 150px;
			}
		}

		&__show-hide-button {
			margin: 0 0 0 3px;
			color: var(----c-white, #fff);
			font-family: Roboto;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 120%; /* 19.2px */
			border-radius: 30px;
			background: #28cb56;
			display: flex;
			width: 162px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
}
