$bgBase: #fff;
$colorBase: #000;
$colorHover: #36dd65;
$fontFamily: 'Roboto', sans-serif;
$fontSize: 14px;
$fontWeight: 400;
$linkTransition: all 0.2s;

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    font-family: $fontFamily;
    background: $bgBase;
    color: $colorBase;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: $fontSize;
    font-weight: $fontWeight;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgb(51, 66, 100) transparent;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: $bgBase;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(51, 66, 100);
        border: 4px solid $bgBase;
        border-radius: 5px;
    }
}
button {
    display: block;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
}
button {
    background: transparent;
    cursor: pointer;
    transition: $linkTransition;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a {
    color: #454b58;
}
a,
a:visited {
    transition: $linkTransition;
    color: $colorBase !important;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    display: block;
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1230px) {
    .container {
        max-width: 1024px;
        padding: 0 5px;
    }
}

@media screen and (max-width: 996px) {
    .container {
        max-width: 768px;
        padding: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 576px;
        padding: 0 5px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 375px;
        padding: 0 5px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 288px;
    }
}
