.top-filter {
    margin-top: 77px;

    &_title {
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        line-height: 108.9%;
        margin-bottom: 11px;
    }

    &_filters {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}

.filter-menu-burger-wr {
    display: none;
}

.select-container {
    &__title {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /*  */
        letter-spacing: 0.44px;
        margin-top: 11px;
        margin-bottom: 8px;
    }
}
