/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/ui/Icons/icons.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.basket-icon {
  width: 21px;
  height: 20px;
  fill: #fff;
}

.validated-sign {
  width: 21px;
  height: 20px;
}

.not-validated-sign {
  width: 21px;
  height: 20px;
}

.available-sign {
  width: 10px;
  height: 8px;
}

.ending-sign {
  width: 14px;
  height: 14px;
}

.out-of-stock-sign {
  width: 18px;
  height: 18px;
}

.spinner {
  width: 122px;
  height: 122px;
}

.tel-sign {
  width: 24px;
  height: 24px;
  fill: #36dd65;
}

.mini-catalog-sign {
  width: 16px;
  height: 16px;
}

.header-search-sign {
  width: 24px;
  height: 24px;
}

.header-heart-sign {
  width: 20.073px;
  height: 18px;
}

.header-basket-sign {
  width: 20.949px;
  height: 19.999px;
}

.home-icon {
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.dropdown-arrow-right {
  width: 4px;
  height: 8px;
}

.arrow-down {
  width: 12px;
  height: 8px;
  fill: black;
  transition: 0.3s;
}
.arrow-down.active {
  transform: rotate(180deg);
}

.filter-menu-burger {
  width: 16px;
  height: 15px;
  fill: #8f8f8f;
  cursor: pointer;
}

.popup-cross-sign {
  width: 13px;
  height: 13.5px;
  fill: none;
}

.category-row-battery-icon {
  width: 44.436px;
  height: 48px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-hdd-icon {
  width: 60.99px;
  height: 43.383px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-keyboard-icon {
  width: 57.263px;
  height: 27.57px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-ram-icon {
  width: 57.163px;
  height: 35.112px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-power-unit-icon {
  width: 68.599px;
  height: 44.471px;
  flex-shrink: 0;
  fill: #ffffff;
}

.features-lightning-sign {
  fill: #929292;
  width: 10.662px;
  height: 15.984px;
  flex-shrink: 0;
}
.features-lightning-sign * {
  fill: #929292;
}

.features-fire-sign {
  width: 24px;
  height: 26px;
  flex-shrink: 0;
  fill: #929292;
}

.features-discount-sign {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  fill: #929292;
}

.features-fav-sign {
  width: 20.789px;
  height: 18.48px;
  fill: #0acf83;
}

.cross-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.heart-icon {
  width: 18.4px;
  height: 16.727px;
  flex-shrink: 0;
  fill: #0acf83;
  transition: 0.3s;
}
.heart-icon.active {
  fill: red;
}

.command,
.dog {
  width: 38px;
  height: 38px;
}

.service,
.like,
.discont {
  width: 39px;
  height: 43.587px;
}

.delivery-icon,
.payment-icon {
  width: 72px;
  height: 72px;
}

.clock-icon,
.point-icon,
.phone-icon,
.mail-icon {
  width: 24px;
  height: 25px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/components/breadcrumbs/Breadcrumbs.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.breadcrumbs {
  overflow-x: auto;
}
.breadcrumbs__ul {
  width: max-content;
  display: flex;
}
.breadcrumbs__li {
  color: #7e7c7c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs__li_active {
  color: #000;
}
.breadcrumbs__separator {
  margin: 0 5px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/delivery/delivery.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.delivery {
  padding-bottom: 40px;
}
.delivery__breadcrumbs {
  margin: 20px auto;
}
.delivery__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 60px;
}
.delivery__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7.967%;
  column-gap: 7.967%;
}
.delivery__item {
  border-radius: 8px;
  border: 1px solid rgba(200, 200, 200, 0.4);
  background: #fff;
  padding: 31px 40px 47px;
}
.delivery__item_delivery {
  background: #f2fdf0;
}
.delivery__icon-sm {
  margin-bottom: 17px;
}
.delivery__item-title {
  color: #4f4f4f;
  line-height: 1.18;
  font-size: 22px;
  margin-bottom: 6px;
  font-weight: 700;
}
.delivery__item-text, .delivery__item-subtitle, .delivery__pay-list, .delivery__pay-text {
  color: #616161;
  line-height: 1.12;
}
.delivery__item-text {
  margin-bottom: 28px;
  max-width: 356px;
}
.delivery__item-subtitle {
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 20px;
}
.delivery__pay-list {
  margin: 0 0 24px 20px;
}
.delivery__pay-list li {
  margin-bottom: 10px;
  list-style-type: decimal;
}
.delivery__pay-list li:last-child {
  margin-bottom: 0;
}
.delivery__item-list {
  display: flex;
  margin-bottom: 62px;
}
.delivery__item-delivery {
  flex: 0 1 170px;
}
.delivery__item-delivery_novaposhta {
  margin: 0 42px 0 0;
}
.delivery__item-delivery_ukrposhta {
  margin-top: 4px;
}
.delivery__item-image {
  display: block;
  margin-bottom: 10px;
}
.delivery__nova-list li {
  list-style-type: disc;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.53;
  color: #616161;
  margin: 0 0 0 20px;
}
.delivery__nova-list li:not(:last-child) {
  margin-bottom: 5px;
}
.delivery__item-info, .delivery__bottom-text {
  font-size: 14px;
  line-height: 1.53;
  color: #616161;
  font-weight: 400;
}
.delivery__item-info span, .delivery__bottom-text span {
  font-weight: 500;
}
.delivery__bottom-text {
  line-height: 1.28;
}
.delivery__pay-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.34;
  margin-bottom: 29px;
}
.delivery__pay-text .strong {
  font-weight: 500;
}
.delivery__text-image {
  display: inline-block;
  margin: 0 10px;
}
.delivery__payment-body {
  color: #616161;
  margin-bottom: 11px;
  font-size: 16px;
}
.delivery__payment-body ul {
  margin-top: 15px;
}
.delivery__payment-body li {
  margin-bottom: 5px;
}
.delivery__payment-body img {
  width: 109px;
  height: 29.42px;
  display: inline-block;
  margin: 0 6px;
}
.delivery__special-info {
  margin-top: 28px;
}
.delivery__special-info span {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.5px;
}
.delivery__pay-text {
  color: #172a3f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 11px;
}
.delivery__pay-images {
  display: flex;
  align-items: center;
}
.delivery__pay-image {
  display: inline-block;
}
.delivery__pay-image:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 992px) {
  .delivery__list {
    column-gap: 10px;
  }
  .delivery__item {
    padding: 14px 24px 25px;
  }
  .delivery__item-delivery_novaposhta {
    margin: 0 8px 0 0;
  }
  .delivery__item-delivery_novaposhta img {
    width: 91px;
    height: 33px;
  }
  .delivery__item-delivery_ukrposhta {
    margin-top: 0;
  }
  .delivery__item-delivery_ukrposhta img {
    width: 111px;
    height: 30px;
  }
  .delivery__nova-list li, .delivery__item-info {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .delivery__icon-sm {
    margin-bottom: 6px;
  }
  .delivery__title {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .delivery__list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .delivery__item-title {
    font-size: 16px;
  }
  .delivery__item-subtitle {
    margin-bottom: 15px;
  }
  .delivery__item-text {
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 26px;
  }
  .delivery__item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
  .delivery__item-delivery {
    flex: 1 1 auto;
  }
  .delivery__item-subtitle, .delivery__payment-body, .delivery__pay-text, .delivery__pays-title {
    font-size: 14px;
  }
  .delivery__pay-text {
    margin-bottom: 17px;
  }
  .delivery__text-image {
    width: 96px;
    height: 26px;
  }
  .delivery__pays-title {
    margin-bottom: 10px;
  }
  .delivery__pay-image:not(:last-child) {
    margin: 0 13px 0 0;
  }
  .delivery__pay-image:first-child, .delivery__pay-image:nth-child(2) {
    width: 34px;
    height: 22px;
  }
  .delivery__pay-image:last-child {
    width: 85px;
    height: 14px;
  }
}
