.burger-menu {
	position: absolute;
	transition: all 0.3s ease;

	&.active {
		background: rgba(0, 0, 0, 0.5);
		width:90%;
		height: auto;
	}

	&__menu {
		display: none;
		position: absolute;
		z-index: 50;
		top: 0;
		left: -16px;
		transition: all 0.3s ease;
		&.active {
			width: 259px;
			min-height: 600px;
			height: auto;
			min-height: 100vh;
			background: #fff;
			display: flex;
			flex-direction: column;
			padding: 0 16px;
		}
	}

	&__icon {
		z-index: 100;
		position: absolute;
		top: 25px;
		left: 3.25px;
		display: flex;
		flex-direction: column;
		gap: 7px;
		cursor: pointer;

		span {
			display: block;
			height: 2px;
			background-color: white;
			transition: all 0.3s ease;
			border-radius: 2px;

			&:nth-child(1) {
				width: 19.5px;
			}
			&:nth-child(2) {
				width: 26.5px;
			}
			&:nth-child(3) {
				width: 14.75px;
			}
		}

		&.active {
			top: 22px;
			left: 1px;
			span {
				&:nth-child(1) {
					background-color: #000000;
					width: 21.2px;
					transform: translateY(9px) rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					background-color: #000000;
					width: 21.2px;
					transform: translateY(-9px) rotate(-45deg);
				}
			}
		}
	}

	&__lang {
		margin: 27px 0 0 0;
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		gap: 12px;
	}

	&__lang-item {
		color: rgba($color: #000000, $alpha: 0.5);
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 67%; /* 10.72px */
		&.active {
			color: #000;
		}

		transition: color 0.3s ease;

		&:hover {
			color: #555;
		}
	}

	&__lang-line {
		width: 0px;
		height: 16px;
		border: 1px solid rgba($color: #000000, $alpha: 0.3);
	}

	&__menu-body {
		width: 100%;
		margin: 54px 0 0 0;
		display: flex;
		flex-direction: column;

		height: auto;
	}

	&__nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0;

		height: auto;
	}

	&__nav-item {
		width: 100%;
		height: 56px;
		border-top: 0.4px solid #d7d7d7;
		color: #535353;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 500;
		line-height: 0px; /* 0% */
		text-transform: uppercase;
		display: flex;
		align-items: center;

		transition: background-color 0.3s ease;

		&:hover {
			background-color: #f0f0f0;
		}
	}

	&__favs-container {
	}

	&__info {
		margin: 30px 0 0 0;
		display: flex;
		flex-direction: column;
	}

	&__socials {
		margin: 18px 0 0 0;
		display: flex;
		flex-direction: row;
		gap: 12px;

		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__social {
	}
}
