/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/components/Order/Order.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.order {
  width: 100%;
  max-width: 1225px;
  display: flex;
  flex-direction: column;
  gap: 67px;
  align-items: center;
}
.order__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0 0 0;
  min-height: 1225px;
}
.order__title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  align-self: start;
}
.order__main {
  margin: 0 0 0 25px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 100%;
  max-width: 757px;
}
.order__block {
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 100%;
}
.order__block-head {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  color: #212529;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.order__num {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 2px solid #36dd65;
  color: #36dd65;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__block-content {
  display: flex;
  flex-direction: row;
  gap: 31px;
  width: 100%;
}
.order__block-content.wide {
  gap: 71px;
}
.order__left {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  max-width: 298px;
}
.order__left.wide {
  max-width: 343px;
}
.order__small-inputs {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.order__right {
  display: flex;
  flex-direction: column;
  gap: 37px;
  width: 100%;
}
.order__line {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #e2e2e2;
}
.order__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.order__user-agreement {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  cursor: pointer;
}
.order__user-agreement-radio {
  width: 21px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #2eba1c;
  background: #36dd65;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__user-agreement-radio-arrow {
  display: none;
}
.order__user-agreement-radio-arrow.active {
  display: flex;
}
.order__user-agreement-text {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  max-width: 223px;
}
.order__user-agreement-text span {
  color: #36dd65;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.order__buy-button {
  width: 100%;
  max-width: 343px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #30d25e;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__error-message {
  color: #e74836;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #ffe3e3;
}

.order-processing__background {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-processing__spinner {
  margin: 200px;
}

.order-popup {
  background: #fff;
  width: 751px;
  height: 301px;
  display: flex;
  flex-direction: column;
  padding: 18px 30px 34px 44px;
}
.order-popup__wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-popup__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}
.order-popup__check {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 13px solid rgba(54, 221, 101, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-popup__check-inner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #36dd65;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-popup__check-icon {
  width: 21px;
  height: 16px;
}
.order-popup__titles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.order-popup__title {
  color: #212529;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
}
.order-popup__undertitle {
  color: #212529;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}
.order-popup__time {
  margin: 27px 0 0 0;
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.order-popup__contents {
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.order-popup__col {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.order-popup__col-heading {
  color: #868e96;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.order-popup__col-rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order-popup__row {
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
.order-popup__button {
  margin: 54px 0 0 0;
  width: 195px;
  height: 50px;
  background: #30d25e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .order {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 1230px;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding: 0 16px;
  }
  .order__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px 0px 0 0px;
    min-height: 1188px;
  }
  .order__title {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    align-self: start;
    display: none;
  }
  .order__main {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 75px;
    width: 100%;
    max-width: 757px;
  }
  .order__block {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
  }
  .order__block-head {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #212529;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
  .order__num {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 2px solid #36dd65;
    color: #36dd65;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order__block-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }
  .order__block-content.wide {
    gap: 18px;
  }
  .order__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 298px;
  }
  .order__left.wide {
    gap: 19px;
    max-width: 343px;
  }
  .order__small-inputs {
    display: flex;
    flex-direction: row;
    gap: 26px;
  }
  .order__right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
  .order__line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #e2e2e2;
    display: none;
  }
  .order__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .order__user-agreement {
    margin: 0 0 0 7px;
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
    cursor: pointer;
  }
  .order__user-agreement-radio {
    width: 24px;
    height: 23px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #2eba1c;
    background: #36dd65;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order__user-agreement-radio-arrow {
    display: none;
  }
  .order__user-agreement-radio-arrow.active {
    display: flex;
  }
  .order__user-agreement-text {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    max-width: 223px;
  }
  .order__user-agreement-text span {
    color: #36dd65;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .order__buy-button {
    width: 288px;
    max-width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #30d25e;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order-popup {
    margin: 9px 0 0 0;
    background: #fff;
    width: 100%;
    height: 414px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 15px;
  }
  .order-popup__wrapper {
    top: 124px;
    left: 0;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .order-popup__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .order-popup__check {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9.8px solid rgba(54, 221, 101, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .order-popup__check-inner {
    width: 36.32px;
    height: 36.32px;
    border-radius: 50%;
    background: #36dd65;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .order-popup__check-icon {
    width: 13px;
    height: 11px;
  }
  .order-popup__titles {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .order-popup__title {
    color: #212529;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
  }
  .order-popup__undertitle {
    color: #212529;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    max-width: 143px;
  }
  .order-popup__time {
    margin: 25px 0 0 0;
    color: #212529;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
  }
  .order-popup__contents {
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
  .order-popup__col {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .order-popup__col-heading {
    color: #868e96;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
  }
  .order-popup__col-rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .order-popup__row {
    color: #212529;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
  }
  .order-popup__button {
    margin: 23px 0 0 50%;
    transform: translateX(-50%);
    width: 195px;
    height: 50px;
    background: #30d25e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    border-radius: 25px;
    align-self: center;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/ui/Icons/icons.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.basket-icon {
  width: 21px;
  height: 20px;
  fill: #fff;
}

.validated-sign {
  width: 21px;
  height: 20px;
}

.not-validated-sign {
  width: 21px;
  height: 20px;
}

.available-sign {
  width: 10px;
  height: 8px;
}

.ending-sign {
  width: 14px;
  height: 14px;
}

.out-of-stock-sign {
  width: 18px;
  height: 18px;
}

.spinner {
  width: 122px;
  height: 122px;
}

.tel-sign {
  width: 24px;
  height: 24px;
  fill: #36dd65;
}

.mini-catalog-sign {
  width: 16px;
  height: 16px;
}

.header-search-sign {
  width: 24px;
  height: 24px;
}

.header-heart-sign {
  width: 20.073px;
  height: 18px;
}

.header-basket-sign {
  width: 20.949px;
  height: 19.999px;
}

.home-icon {
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.dropdown-arrow-right {
  width: 4px;
  height: 8px;
}

.arrow-down {
  width: 12px;
  height: 8px;
  fill: black;
  transition: 0.3s;
}
.arrow-down.active {
  transform: rotate(180deg);
}

.filter-menu-burger {
  width: 16px;
  height: 15px;
  fill: #8f8f8f;
  cursor: pointer;
}

.popup-cross-sign {
  width: 13px;
  height: 13.5px;
  fill: none;
}

.category-row-battery-icon {
  width: 44.436px;
  height: 48px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-hdd-icon {
  width: 60.99px;
  height: 43.383px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-keyboard-icon {
  width: 57.263px;
  height: 27.57px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-ram-icon {
  width: 57.163px;
  height: 35.112px;
  flex-shrink: 0;
  fill: #ffffff;
}

.category-row-power-unit-icon {
  width: 68.599px;
  height: 44.471px;
  flex-shrink: 0;
  fill: #ffffff;
}

.features-lightning-sign {
  fill: #929292;
  width: 10.662px;
  height: 15.984px;
  flex-shrink: 0;
}
.features-lightning-sign * {
  fill: #929292;
}

.features-fire-sign {
  width: 24px;
  height: 26px;
  flex-shrink: 0;
  fill: #929292;
}

.features-discount-sign {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  fill: #929292;
}

.features-fav-sign {
  width: 20.789px;
  height: 18.48px;
  fill: #0acf83;
}

.cross-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.heart-icon {
  width: 18.4px;
  height: 16.727px;
  flex-shrink: 0;
  fill: #0acf83;
  transition: 0.3s;
}
.heart-icon.active {
  fill: red;
}

.command,
.dog {
  width: 38px;
  height: 38px;
}

.service,
.like,
.discont {
  width: 39px;
  height: 43.587px;
}

.delivery-icon,
.payment-icon {
  width: 72px;
  height: 72px;
}

.clock-icon,
.point-icon,
.phone-icon,
.mail-icon {
  width: 24px;
  height: 25px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/components/breadcrumbs/Breadcrumbs.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.breadcrumbs {
  overflow-x: auto;
}
.breadcrumbs__ul {
  width: max-content;
  display: flex;
}
.breadcrumbs__li {
  color: #7e7c7c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs__li_active {
  color: #000;
}
.breadcrumbs__separator {
  margin: 0 5px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/components/Spinner/Spinner.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: rotate 1s linear infinite;
  background: #36dd65;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
}
.spinner_white::after {
  background: white !important;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
}

.spinner::before {
  border-radius: 50%;
  background: linear-gradient(0deg, hsl(0, 0%, 100%) 50%, hsla(0, 0%, 100%, 0.9) 100%) 0% 0%, linear-gradient(90deg, hsla(0, 0%, 100%, 0.9) 0%, hsla(0, 0%, 100%, 0.6) 100%) 100% 0%, linear-gradient(180deg, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%, linear-gradient(360deg, hsla(0, 0%, 100%, 0.3) 0%, hsla(0, 0%, 100%, 0) 100%) 0% 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.spinner::after {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/ui/inputs/PrimaryInput.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
input {
  background: transparent;
  border: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

.primary-input {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.primary-input__label {
  color: #868e96;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.primary-input__label span {
  color: #ed1c24;
}
.primary-input__container {
  width: 100%;
  max-width: 428px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid #dfe1e2;
  background: #fff;
  position: relative;
}
.primary-input__container.error {
  border: 1px solid #e74836;
}
.primary-input__container.active {
  border: 1px solid #36dd65;
  background: #e5fbe2;
}
.primary-input__container.text {
  padding: 15px 11px 13px 12px;
}
.primary-input__container.tel {
  padding: 14px 13px 14px 16px;
}
.primary-input__container.email {
  padding: 16px 12px 12px 13px;
}
.primary-input__input {
  width: 100%;
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
.primary-input__error-popup {
  position: absolute;
  top: 0;
  left: 110%;
  height: 48px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  z-index: 200;
  color: #e74836;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  background: #ffe3e3;
}
.primary-input__email-description {
  margin: 3px 0 0 0;
  color: #868e96;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

@media (max-width: 1200px) {
  .primary-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .primary-input__label {
    color: #868e96;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
  }
  .primary-input__label span {
    color: #ed1c24;
  }
  .primary-input__container {
    width: 100%;
    max-width: 428px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid #dfe1e2;
    background: #fff;
    position: relative;
  }
  .primary-input__container.error {
    border: 1px solid #e74836;
  }
  .primary-input__container.active {
    border: 1px solid #36dd65;
    background: #e5fbe2;
  }
  .primary-input__container.text {
    padding: 15px 11px 14px 12px;
  }
  .primary-input__container.tel {
    padding: 14px 13px 15px 16px;
  }
  .primary-input__container.email {
    padding: 16px 12px 13px 13px;
  }
  .primary-input__input {
    width: 100%;
    color: #212529;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
  }
  .primary-input__error-popup {
    position: absolute;
    top: -90px;
    left: -20px;
    height: 68px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 200;
    color: #e74836;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    background: #ffe3e3;
    line-height: 20px;
  }
  .primary-input__email-description {
    margin: 3px 0 0 0;
    color: #868e96;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/ui/inputs/TextAreaInput.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
input {
  background: transparent;
  border: none;
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

textarea {
  background: transparent;
  border: none;
  outline: none;
}

.textarea-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 428px;
}
.textarea-input__label {
  color: #868e96;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.textarea-input__label span {
  color: #ed1c24;
}
.textarea-input__container {
  width: 100%;
  max-width: 428px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid #dfe1e2;
  background: #fff;
  position: relative;
  padding: 15px;
}
.textarea-input__container.active {
  border: 1px solid #36dd65;
  background: #e5fbe2;
}
.textarea-input__input {
  width: 100%;
  height: 48px; /* Initial height */
  min-height: 48px; /* Minimum height */
  resize: none; /* Disable resizing */
  overflow-y: auto; /* Enable vertical scrollbar when needed */
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/ui/form/radio/BasicRadio.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.basic-radio {
  width: 100%;
  max-width: 343px;
  display: flex;
  gap: 19px;
}
.basic-radio.row {
  flex-direction: row;
}
.basic-radio.col {
  flex-direction: column;
}
.basic-radio.col .basic-radio__item {
  height: 58px;
}
.basic-radio__container {
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.basic-radio__heading {
  color: #868e96;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.basic-radio__heading span {
  color: #ed1c24;
}
.basic-radio__item {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
}
.basic-radio__item.active {
  border: 1px solid #5ad749;
  background: #e5fbe2;
}
.basic-radio__text-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.basic-radio__radio-name {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}
.basic-radio__radio-name.with-desc {
  font-weight: 500;
}
.basic-radio__radio-description {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
.basic-radio__radio-circle {
  border-radius: 50%;
}
.basic-radio__radio-circle.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: #ececec;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.basic-radio__radio-circle.outer.active {
  background: #5ad749;
}
.basic-radio__radio-circle.inner {
  width: 0;
  height: 0;
}
.basic-radio__radio-circle.inner.active {
  background: #fff;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/common/components/Order/TownInput.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.town-input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.town-input__label {
  color: #868e96;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.town-input__label span {
  color: #ed1c24;
}
.town-input__input-box {
  margin: 9px 0 0 0;
  border-radius: 2px;
  border: 1px solid #dfe1e2;
  background: #fff;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  padding: 0 14px 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.town-input__input {
  width: 100%;
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 100%;
}
.town-input__input::placeholder {
  color: #959595;
}
.town-input__map-icon {
  width: 16px;
  height: 20px;
}
.town-input__5-buttons {
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.town-input__5-buttons-item {
  color: #37b65b;
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px dashed #7ce099;
  padding: 0 0 2px 0;
}
.town-input__dropdown {
  z-index: 250;
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #dfe1e2;
  display: flex;
  flex-direction: column;
}
.town-input__dropdown-item {
  width: 100%;
  height: 47px;
  color: #959595;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  padding: 0 0 0 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.town-input__dropdown-item:hover {
  background: #daffe4;
  color: #1ba341;
}
