/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/not-found.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page-404 {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-404__wrapper {
  margin: 230px 0 231px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-404__content {
  display: flex;
  flex-direction: column;
}
.page-404__title {
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 194.444% */
  letter-spacing: -1px;
}
.page-404__text {
  margin: 19px 0 0 1px;
  color: #272727;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: -1px;
  max-width: 381px;
}
.page-404__text span {
  color: #2f2f2f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1px;
}
.page-404__back-button {
  margin: 28px 0 0 -4px;
  width: 246px;
  height: 56px;
  border-radius: 26px;
  background: #36dd65;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 250% */
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-404__nav {
  margin: 25px 0 0 0px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.page-404__nav-item {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.page-404__under-contents {
  margin: 45px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}
.page-404__under-contents-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.page-404__under-contents-item-icon {
  width: 23px;
  height: 20px;
}
.page-404__under-contents-quarnuts-icon {
  margin: -2px 0 0 0;
  width: 89.001px;
  height: 22.968px;
}
.page-404__img-container {
  margin: 28px 8px 0 0;
  width: 100%;
  max-width: 631px;
  height: 276px;
  position: relative;
}
.page-404__img {
  position: relative;
  object-fit: contain;
}

@media (max-width: 1440px) {
  .page-404 {
    width: 100%;
    max-width: 1235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
  }
  .page-404__wrapper {
    margin: 131px 0 131px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .page-404__content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-404__title {
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 194.444% */
    letter-spacing: -1px;
  }
  .page-404__text {
    text-align: center;
    margin: 16px 0 0 0;
    color: #272727;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    letter-spacing: -1px;
  }
  .page-404__text span {
    color: #2f2f2f;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1px;
  }
  .page-404__back-button {
    margin: 26px 0 0 0;
    width: 246px;
    height: 56px;
    border-radius: 26px;
    background: #36dd65;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; /* 250% */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-404__nav {
    margin: 25px 0 0 3px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .page-404__nav-item {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  .page-404__under-contents {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
  }
  .page-404__under-contents-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .page-404__under-contents-item-icon {
    width: 23px;
    height: 20px;
  }
  .page-404__under-contents-quarnuts-icon {
    width: 89.001px;
    height: 22.968px;
  }
  .page-404__img-container {
    order: 1;
    margin: 29px;
    width: 100%;
    max-width: 631px;
    height: 276px;
  }
  .page-404__img {
    position: relative;
    object-fit: contain;
  }
}
@media (max-width: 600px) {
  .page-404 {
    width: 100%;
    max-width: 1235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 21px;
  }
  .page-404__wrapper {
    margin: 0px 0 64px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 16px;
  }
  .page-404__content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .page-404__title {
    margin: 0 0 0 2px;
    text-align: left;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; /* 194.444% */
    letter-spacing: -1px;
  }
  .page-404__text {
    text-align: left;
    margin: 6px 0 0 3px;
    color: #272727;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    letter-spacing: -1px;
  }
  .page-404__text span {
    color: #2f2f2f;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1px;
  }
  .page-404__back-button {
    margin: 13px 0 0 3px;
    width: 228px;
    height: 52px;
    border-radius: 26px;
    background: #36dd65;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; /* 250% */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-404__nav {
    margin: 17px 0 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px;
    width: 100%;
    max-width: 234px;
    gap: 14px;
  }
  .page-404__nav-item {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  .page-404__under-contents {
    margin: 28px 0 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
  }
  .page-404__under-contents-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .page-404__under-contents-item-icon {
    width: 23px;
    height: 20px;
  }
  .page-404__under-contents-quarnuts-icon {
    display: none;
  }
  .page-404__img-container {
    order: 1;
    margin: 72px 0 0 0;
    transform: translateX(0);
    width: 155px;
    height: 66px;
  }
  .page-404__img {
    position: relative;
    object-fit: contain;
  }
}
.e404 {
  padding: 40px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 152px);
}
.e404__row, .e404__list, .e404__support {
  display: flex;
  align-items: center;
}
.e404__row {
  justify-content: space-between;
}
.e404__body {
  flex: 0 0 auto;
  width: 100%;
  max-width: 523px;
}
.e404__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.94;
  letter-spacing: -1px;
  margin-bottom: 16px;
}
.e404__text-wrap {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-bottom: 16px;
  max-width: 380px;
}
.e404__subtitle {
  color: #272727;
  font-weight: 500;
}
.e404__text {
  color: #2f2f2f;
}
.e404__btn {
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
}
.e404__list {
  align-items: center;
  margin-bottom: 45px;
}
.e404__item {
  margin: 0 8% 0 0;
}
.e404__item:hover {
  text-decoration: underline;
}
.e404__item:last-child {
  margin: 0;
}
.e404__link {
  font-weight: 700;
  line-height: 1.5;
  color: #000;
}
.e404__link:hover {
  color: #555;
}
.e404__support {
  align-items: flex-end;
}
.e404__warn-icon {
  display: block;
  width: 23px;
  height: 20px;
  margin: 0 9px 0 0;
}
.e404__supp-link {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
  display: block;
  margin: 0 17px 0 0;
  color: #000;
}
.e404__supp-link:hover {
  text-decoration: none;
}
.e404__error-num {
  width: 100%;
  max-width: 631px;
}
.e404__error-num-icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .e404 {
    justify-content: center;
    min-height: calc(100vh - 124px);
  }
  .e404__row {
    flex-direction: column-reverse;
  }
  .e404__body {
    flex: 1 1 auto;
  }
  .e404__error-num {
    max-width: 300px;
    margin-bottom: 21px;
  }
  .e404__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    gap: 14px;
  }
}
@media (max-width: 576px) {
  .e404 {
    min-height: auto;
  }
  .e404__error-num {
    max-width: 150px;
  }
  .e404__title {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .e404__text-wrap, .e404__btn, .e404__link {
    font-size: 14px;
  }
  .e404__btn {
    padding: 19px 10px;
  }
  .e404__supp-link {
    font-size: 16px;
  }
  .e404__quarn-icon {
    display: none;
  }
}
