.delivery {
    padding-bottom: 40px;
    &__breadcrumbs {
        margin: 20px auto;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 60px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7.967%;
    }
    &__item {
        border-radius: 8px;
        border: 1px solid rgba(200, 200, 200, 0.4);
        background: #fff;
        padding: 31px 40px 47px;
        &_delivery {
            background: #f2fdf0;
        }
    }
    &__icon-sm {
        margin-bottom: 17px;
    }
    &__item-title {
        color: #4f4f4f;
        line-height: 1.18;
        font-size: 22px;
        margin-bottom: 6px;
        font-weight: 700;
    }
    &__item-text,
    &__item-subtitle,
    &__pay-list,
    &__pay-text {
        color: #616161;
        line-height: 1.12;
    }
    &__item-text {
        margin-bottom: 28px;
        max-width: 356px;
    }
    &__item-subtitle {
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 20px;
    }
    &__pay-list {
        margin: 0 0 24px 20px;
        li {
            margin-bottom: 10px;
            list-style-type: decimal;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__item-list {
        display: flex;
        margin-bottom: 62px;
    }
    &__item-delivery {
        flex: 0 1 170px;
        &_novaposhta {
            margin: 0 42px 0 0;
        }
        &_ukrposhta {
            margin-top: 4px;
        }
    }
    &__item-image {
        display: block;
        margin-bottom: 10px;
    }
    &__nova-list {
        li {
            list-style-type: disc;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.53;
            color: #616161;
            margin: 0 0 0 20px;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__item-info,
    &__bottom-text {
        font-size: 14px;
        line-height: 1.53;
        color: #616161;
        font-weight: 400;
        span {
            font-weight: 500;
        }
    }
    &__bottom-text {
        line-height: 1.28;
    }
    &__pay-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 1.34;
        margin-bottom: 29px;
        & .strong {
            font-weight: 500;
        }
    }
    &__text-image {
        display: inline-block;
        margin: 0 10px;
    }
    &__payment-body {
        color: #616161;
        margin-bottom: 11px;
        font-size: 16px;
        ul {
            margin-top: 15px;
        }
        li {
            margin-bottom: 5px;
        }

        img {
            width: 109px;
            height: 29.42px;
            display: inline-block;
            margin: 0 6px;
        }
    }
    &__special-info {
        margin-top: 28px;
        span {
            color: #616161;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.5px;
        }
        &_image {
        }
    }
    &__pay-text {
        color: #172a3f;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 30px;
        margin-bottom: 11px;
    }
    &__pay-images {
        display: flex;
        align-items: center;
    }
    &__pay-image {
        display: inline-block;
        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
    @media (max-width: 992px) {
        &__list {
            column-gap: 10px;
        }
        &__item {
            padding: 14px 24px 25px;
        }
        &__item-delivery_novaposhta {
            margin: 0 8px 0 0;
            img {
                width: 91px;
                height: 33px;
            }
        }
        &__item-delivery_ukrposhta {
            margin-top: 0;
            img {
                width: 111px;
                height: 30px;
            }
        }
        &__nova-list li,
        &__item-info {
            font-size: 12px;
        }
    }
    @media (max-width: 767px) {
        &__icon-sm {
            // width: 44px;
            // height: 44px;
            margin-bottom: 6px;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 28px;
        }
        &__list {
            grid-template-columns: 1fr;
            gap: 30px;
        }
        &__item-title {
            font-size: 16px;
        }
        &__item-subtitle {
            margin-bottom: 15px;
        }
        &__item-text {
            font-size: 14px;
            line-height: 1.28;
            margin-bottom: 26px;
        }
        &__item-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 50px;
        }
        &__item-delivery {
            flex: 1 1 auto;
        }
        &__item-subtitle,
        &__payment-body,
        &__pay-text,
        &__pays-title {
            font-size: 14px;
        }
        &__pay-text {
            margin-bottom: 17px;
        }
        &__text-image {
            width: 96px;
            height: 26px;
        }
        &__pays-title {
            margin-bottom: 10px;
        }
        &__pay-image {
            &:not(:last-child) {
                margin: 0 13px 0 0;
            }
            &:first-child,
            &:nth-child(2) {
                width: 34px;
                height: 22px;
            }
            &:last-child {
                width: 85px;
                height: 14px;
            }
        }
    }
}
