.order {
	width: 100%;
	max-width: 1225px;
	display: flex;
	flex-direction: column;
	gap: 67px;
	align-items: center;
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 24px 0 0 0;
	}

	&__title {
		color: #000;
		font-family: Roboto;
		font-size: 24px;

		font-weight: 700;

		align-self: start;
	}

	&__main {
		margin: 0 0 0 25px;
		display: flex;
		flex-direction: column;
		gap: 42px;

		width: 100%;
		max-width: 757px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 29px;
		width: 100%;
	}

	&__block-head {
		display: flex;
		flex-direction: row;
		gap: 19px;
		align-items: center;

		color: #212529;
		font-family: Roboto;
		font-size: 18px;

		font-weight: 700;

		letter-spacing: 0.2px;
	}

	&__num {
		border-radius: 50%;
		width: 32px;
		height: 32px;
		border: 2px solid #36dd65;
		color: #36dd65;
		font-family: Roboto;
		font-size: 18px;

		font-weight: 700;

		letter-spacing: 0.2px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__block-content {
		display: flex;
		flex-direction: row;
		gap: 31px;
		width: 100%;

		&.wide {
			gap: 71px;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		gap: 28px;

		width: 100%;
		max-width: 298px;
		&.wide {
			max-width: 343px;
		}
	}

	&__small-inputs {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 37px;
		width: 100%;
	}

	&__line {
		width: 100%;
		height: 0;
		border-bottom: 1px solid #e2e2e2;
	}

	&__buttons-container {
		display: flex;
		flex-direction: column;
		gap: 17px;
	}

	&__user-agreement {
		display: flex;
		flex-direction: row;
		gap: 11px;
		align-items: center;
		cursor: pointer;
	}

	&__user-agreement-radio {
		width: 21px;
		height: 20px;
		flex-shrink: 0;
		border-radius: 4px;
		border: 1px solid #2eba1c;
		background: #36dd65;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__user-agreement-radio-arrow {
		display: none;
		&.active {
			display: flex;
		}
	}

	&__user-agreement-text {
		color: #000;
		font-family: Roboto;
		font-size: 14px;

		font-weight: 400;

		max-width: 223px;
		span {
			color: #36dd65;
			font-family: Roboto;
			font-size: 14px;

			font-weight: 400;

			text-decoration-line: underline;
		}
	}

	&__buy-button {
		width: 100%;
		max-width: 343px;
		height: 50px;
		flex-shrink: 0;
		border-radius: 50px;
		background: #30d25e;

		color: #fff;
		font-family: Roboto;
		font-size: 16px;

		font-weight: 900;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__error-message {
		color: #e74836;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.2px;

		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		background: #FFE3E3;
	}
}

.order-processing {
	&__background {
		top: 0;
		left: 0;

		position: fixed;
		z-index: 200;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__spinner {
		margin: 200px;
	}
}

.order-popup {
	background: #fff;
	width: 751px;
	height: 301px;
	display: flex;
	flex-direction: column;

	padding: 18px 30px 34px 44px;
	&__wrapper {
		top: 0;
		left: 0;

		position: fixed;
		z-index: 200;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 13px;
	}

	&__check {
		width: 74px;
		height: 74px;
		border-radius: 50%;
		border: 13px solid rgba($color: #36dd65, $alpha: 0.15);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__check-inner {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: #36dd65;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__check-icon {
		width: 21px;
		height: 16px;
	}

	&__titles {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__title {
		color: #212529;
		font-family: Roboto;
		font-size: 22px;
		font-weight: 700;
	}

	&__undertitle {
		color: #212529;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 500;
	}

	&__time {
		margin: 27px 0 0 0;
		color: #212529;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 500;
	}

	&__contents {
		margin: 25px 0 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 30px;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 11px;
	}

	&__col-heading {
		color: #868e96;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 400;
	}

	&__col-rows {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__row {
		color: #212529;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 400;
	}

	&__button {
		margin: 54px 0 0 0;
		width: 195px;
		height: 50px;
		background: #30d25e;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 900;
		border-radius: 25px;
	}
}

@media (max-width: 600px) {
	.order {
		width: fit-content;
		max-width: 1230px;
		display: flex;
		flex-direction: column;
		gap: 0;
		align-items: center;
		padding: 0 16px;
		&__wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			margin: 35px 0px 0 0px;
		}

		&__title {
			color: #000;
			font-family: Roboto;
			font-size: 24px;

			font-weight: 700;

			align-self: start;

			display: none;
		}

		&__main {
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 75px;

			width: 100%;
			max-width: 757px;
		}

		&__block {
			display: flex;
			flex-direction: column;
			gap: 27px;
			width: 100%;
		}

		&__block-head {
			display: flex;
			flex-direction: row;
			gap: 10px;
			align-items: center;

			color: #212529;
			font-family: Roboto;
			font-size: 16px;

			font-weight: 700;

			letter-spacing: 0.2px;
		}

		&__num {
			border-radius: 50%;
			width: 32px;
			height: 32px;
			border: 2px solid #36dd65;
			color: #36dd65;
			font-family: Roboto;
			font-size: 18px;

			font-weight: 700;

			letter-spacing: 0.2px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__block-content {
			display: flex;
			flex-direction: column;
			gap: 25px;
			width: 100%;

			&.wide {
				gap: 18px;
			}
		}

		&__left {
			display: flex;
			flex-direction: column;
			gap: 24px;

			width: 100%;
			max-width: 298px;
			&.wide {
				gap: 19px;
				max-width: 343px;
			}
		}

		&__small-inputs {
			display: flex;
			flex-direction: row;
			gap: 26px;
		}

		&__right {
			display: flex;
			flex-direction: column;
			gap: 40px;
			width: 100%;
		}

		&__line {
			width: 100%;
			height: 0;
			border-bottom: 1px solid #e2e2e2;

			display: none;
		}

		&__buttons-container {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: fit-content;
		}

		&__user-agreement {
			margin: 0 0 0 7px;
			display: flex;
			flex-direction: row;
			gap: 11px;
			align-items: center;
			cursor: pointer;
		}

		&__user-agreement-radio {
			width: 24px;
			height: 23px;
			flex-shrink: 0;
			border-radius: 4px;
			border: 1px solid #2eba1c;
			background: #36dd65;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__user-agreement-radio-arrow {
			display: none;
			&.active {
				display: flex;
			}
		}

		&__user-agreement-text {
			color: #000;
			font-family: Roboto;
			font-size: 14px;

			font-weight: 400;

			max-width: 223px;
			span {
				color: #36dd65;
				font-family: Roboto;
				font-size: 14px;

				font-weight: 400;

				text-decoration-line: underline;
			}
		}

		&__buy-button {
			width: 288px;
			max-width: 100%;
			height: 50px;
			flex-shrink: 0;
			border-radius: 50px;
			background: #30d25e;

			color: #fff;
			font-family: Roboto;
			font-size: 16px;

			font-weight: 900;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.order-popup {
		margin: 9px 0 0 0;
		background: #fff;
		width: 100%;
		height: 414px;
		display: flex;
		flex-direction: column;

		padding: 16px 16px 16px 15px;
		&__wrapper {
			top: 124px;
			left: 0;

			position: absolute;
			z-index: 200;
			width: 100%;
			height: 100%;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}

		&__top {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}

		&__check {
			width: 56px;
			height: 56px;
			border-radius: 50%;
			border: 9.8px solid rgba($color: #36dd65, $alpha: 0.15);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__check-inner {
			width: 36.32px;
			height: 36.32px;
			border-radius: 50%;
			background: #36dd65;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__check-icon {
			width: 13px;
			height: 11px;
		}

		&__titles {
			display: flex;
			flex-direction: column;
			gap: 3px;
		}

		&__title {
			color: #212529;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 700;
		}

		&__undertitle {
			color: #212529;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 500;

			max-width: 143px;
		}

		&__time {
			margin: 25px 0 0 0;
			color: #212529;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 500;
		}

		&__contents {
			margin: 16px 0 0 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 16px;
		}

		&__col {
			display: flex;
			flex-direction: column;
			gap: 11px;
		}

		&__col-heading {
			color: #868e96;
			font-family: Roboto;
			font-size: 12px;
			font-weight: 400;
		}

		&__col-rows {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&__row {
			color: #212529;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
		}

		&__button {
			margin: 23px 0 0 50%;
			transform: translateX(-50%);
			width: 195px;
			height: 50px;
			background: #30d25e;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 900;
			border-radius: 25px;

			align-self: center;
		}
	}
}
